<ng-include src="'main/header.html'"></ng-include>

<section id="cta">
     <h1>
          <a href="#/landing"><span class="first-logo-color">factor</span><strong>B</strong></a>
     </h1>

     <h2>Порядок действий</h2>
     <div class="instruction-text">
          <h3>Действие 1</h3>
          <p>Факторинговая компания (ФК) самостоятельно хеширует каждое денежное требование.
          Итогом хеширования является создание уникального хеша для каждого денежного требования.
          Все хеши сохраняются в итоговом файле.</p>
          <img src="images/diagram.png" style="width:100%;" alt="diagram"></img>


          <br>
          <h3>Действие 2</h3>
          <p>Факторинговая компания загружает итоговый файл на сторону factorB.</p>
          <br>

          <h3>Действие 3</h3>
          <p>factorB сверяет все накопленные хэши и высылает отчет на указанный e-mail адрес.</p>
          <hr>
     </div>

     <h2>Хэширование</h2>
     <div class="info-text">
          <p>Решение предлагаемое factorB основано на применении алгоритмов Хеширования  – преобразование по определенному алгоритму входного массива данных произвольной длины в выходную битовую строку фиксированной длины - <strong>хеш</strong>.</p>
          <br>
          <br>

          <div class="row uniform 100% hash-example-block">
               <div class="6u 12u(mobilep)">
                    <p>Для хеширования нет необходимости использовать стороннее ПО, все операции выполняются с помощью стандартных функций любой системы учёта факторинговых операций и общедоступных алгоритмов хеширования. Подробнее см. инструкцию.</p>
               </div>
               <div class="6u 12u(mobilep)">
                    <p>Все хеширование выполняется силами ФК. Первичные данные ни на каком этапе не передаются ни по открытым, ни по шифрованным каналам связи и остаются исключительно в ФК.</p>
               </div>
          </div>

          <p>Свойством хэширования является то, что шифрование возможно только <strong>в одном направлении</strong>. Обратно расшифровать хэш практически нереально.  Поэтому хеширование является одним из ключевых элементов ЭЦП. В России - ГОСТ Р 34.11-2012.
          Одному набору данных соответствует строго одно значение хеша.</p>
          <br>


          <!--<h2>Примеры хэширования</h2>-->
          <div class="hash-example-block">
               <p>
                    <span>"я люблю факторинг"</span>
                    <br>
                         <i class="fa fa-arrow-right"></i>
                    <br>
                    <span class="hash-example">06cbbd047944cec151f2c4115b71636dc6510e4d14a363ab51ad862abfced59e</span>
               </p>
          </div>

          <div class="hash-example-block">
               <p>
                    <span>"Клиент ООО «Сахар», Дебитор ООО «АШАН», Дата 01/01/2016 №001 Сумма 100.00 Вата сахарная сто тонн"</span>
                    <br>
                    <span>
                         <i class="fa fa-arrow-right"></i>
                    </span>
                    </br>
                    <span class="hash-example">c69d979a8a963914342ab79874a515cbc26d6a3ad368038c8af10a74cfcf3441</span>
               </p>
          </div>

          <p>ВАЖНО! Зная хеш, практически нереально не только расшифровать изначальное значение (даже зная алгоритм шифрования), но и практически нереально предположить, какой хеш к каким данным относится (подробнее применяемых алгоритмах, защите методов взлома, включая "радужные" таблици др. см. В "порядок действия / инструкция").</p>
     </div>

     <h2>Пример хеширования денежного требования</h2>
     <!--<h3>Хэш считается на стороне браузера и не передаётся нам</h3>-->
     <form>
          <div class="row uniform 75%">
               <div id="input-div" class="12u 12u(mobilep)">
                    <!--
                    <input 
                         type="text" 
                         name="fk1" 
                         id="fk1" 
                         ng-model="fkName" 
                         placeholder="Название факторинговой компании" 
                         autofocus/>
                    -->
                    <input 
                         type="text" 
                         name="inn1" 
                         id="inn1" 
                         ng-model="inn1" 
                         ng-change="onChange()"
                         placeholder="Инн1 (8/10 цифр)" 
                         valid-number/>

                    <input 
                         type="text" 
                         name="inn2" 
                         id="inn2" 
                         ng-model="inn2" 
                         ng-change="onChange()"
                         placeholder="Инн2 (8/10 цифр)" 
                         valid-number/>

                    <input 
                         type="text" 
                         name="date1" 
                         id="date1" 
                         ng-model="date" 
                         ng-change="onChange()"
                         placeholder="Дата"/>

                    <input 
                         type="text" 
                         name="amount1" 
                         id="amount1" 
                         ng-model="amount" 
                         ng-change="onChange()"
                         placeholder="Сумма" 
                         valid-number/>
               </div>
          </div>

          <h3>Полученный хэш:</h3>
          <p class="hash-value" style="padding-left: 0px; margin-bottom: 1em;">{{hash}}</p>
     </form>
     
</section>

<ng-include src="'main/footer.html'"></ng-include>

