<ng-include src="'main/header.html'"></ng-include>

<section id="cta">
     <h1><span class="first-logo-color">factor</span><strong>B</strong></h1>
     <h2>сервис сверки денежных требований<br> между факторинговыми компаниями</h2>
     <br>

     <div class="info-text">
          <div class="row uniform 100%">
               <div class="6u 12u(mobilep)">
                    <h3>Для чего?</h3>
                    <ul>
                         <li><span class="logo-color">factorB</span> применяется для минимизации риска мошенничества в виде одновременной уступки и финансирования одного денежного требования в двух факторинговых компаниях</li>

                         <li><span class="logo-color">factorB</span> сверяет денежные требования разных факторинговых компаний и сообщает о факте наличия одного требования в нескольких компаниях</li>

                         <li>для сверки не требуется раскрытия никаких первичных данных. Нет риска утечки коммерческой / банковской тайны</li>
                    </ul>
               </div>

               <div class="6u 12u(mobilep)">
                    <form>
                         <div class="row uniform central-buttons 100%">
                              <div class="12u 12u(mobilep)">
                                   <button type="submit" class="button fit" ng-click="onHow()">
                                        <span>
                                             <i class="fa fa-question"></i>
                                        </span>
                                        <span>Как это работает</span>
                                   </button>

                                   <button type="submit" class="button fit" ng-click="onTerms()">
                                        <span>
                                             <i class="fa fa-map-o"></i>
                                        </span>
                                        <span>Условия использования</span>
                                   </button>
                              </div>
                         </div>
                    </form>
               </div>
          </div>

     <hr>
     <br>
     <div class="info-text">
          <div class="row uniform 100%">
               <div class="6u 12u(mobilep)">
                    <h3>Тестовая эксплуатация</h3>
                    <p>Сервис запущен в тестовую эксплуатацию.<br> Цель тестирования - подтверждение или опровержение актуальности проблемы двойной уступки.<br> Тестируется портфель уступленных денежных требований за 2015 год.</p>
               </div>

               <div class="6u 12u(mobilep)">
                    <h3>Бесплатно</h3>
                    <p>Тест бесплатен для факторинговых компаний. Результат теста - <strong>сообщение о наличии / отсутствии совпадений в портфелях</strong> с указанием количества выявленных совпадений.</p>
               </div>
          </div>
     </div>

     <form>
          <div class="row uniform 50%">
               <div class="12u 12u(mobilep)">
                    <button type="submit" class="button fit main-button" ng-click="onGoToMain()">
                         <span>
                         <i class="fa fa-sign-in"></i>
                         </span>
                         <span>Начать использовать сервис</span>
                    </button>
               </div>
          </div>
     </form>
</section>

<ng-include src="'main/footer.html'"></ng-include>

