<ng-include src="'signer/header.html'"></ng-include>

<section id="cta">
     <h1>Chain.Cloud SIGNER</h1>
     <h2>Is used to:</h2>
     
     <div class="info-text">
          <p>Add your document to BlockChain. That can be useful if you want to generate 'timestamp' for your document that will last forever. And that unique 'timestamp' can never be removed.<br>Treat BlockChain technology as a single distributed database with no 'remove' or 'modify' functionality.</p>
     </div>

     <div class="info-text">
          <div class="row uniform 100%">
               
               <div class="6u 12u(mobilep)">
                    <h3>Proof of Existence/Timestamp</h3>
                    <ol>
                         <li>You've written TV-series plot;</li>
                         <li>You want to generate 'timestamp' for this document as a proof that you are the plot creator;</li>
                         <li>Timestamp is then added to BlockChain; <strong>Your document is never transmitted to our servers so that we have no idea what contents it has;</strong></li>
                         <li>Now your ownership can be verified.</li>
                    </ol>
               </div>

               <div class="6u 12u(mobilep)">
                    <h3>To verify ownership</h3>
                    <ol>
                         <li>You need a full copy of the document (photo/photos);</li>
                         <li>If your TV-series plot is lost -> no one will be able to restore it. Documents are never transmitted to BlockChain, only their hashes are;</li>
                         <li>If you will change even single character in the plot -> you will not be able to verify it against old plot version. You need to add ALL versions of your plot in order to verify them later.</li>
                    </ol>
               </div>
          </div>
     </div>

     <form>
          <div class="row uniform 50%">
               <div class="8u 12u(mobilep)">
                    <input type="email" name="email" id="email" ng-model="email" placeholder="E-mail Address" autofocus/>
               </div>
               <div class="8u 12u(mobilep)">
                    <input type="password" name="password" id="password" ng-model="password" placeholder="Password" />
               </div>

               <div class="4u 12u(mobilep)">
                    <input type="submit" value="Login" 
                         ng-disabled="!agreeTOS || !email.length || password.length<6"
                         ng-click="onLogin(email,password)" class="fit"/>
               </div>
          </div>

          <div class="row uniform 50%">
               <fieldset>
                  <input type="checkbox" 
                         value="check" name="license-check-box" id="license-check-box" 
                         ng-model="agreeTOS">

                  <label for="license-check-box">
                         <span>I agree to the <span>
                         <a href="#/agreement" target="_blank" class="tos-link">Terms Of Service</a>
                  </label>
               </fieldset>
          </div>
     </form>

     <p ng-if="errMsg.length">{{errMsg}}</p>
</section>

<ng-include src="'signer/footer.html'"></ng-include>

