<ng-include src="'signer/header.html'"></ng-include>

<section id="cta">
     <h1>factor <strong>B</strong></h1>
     <h2>Прозрачный Факторинг для каждого!</h2>

     <p ng-if="errMsg.length" class="err-msg">{{errMsg}}</p>
     <p>
          <a ng-if="txLink.length" href="{{txLink}}" class="tx-info-link" target="_blank">Transaction info</a>
     </p>

     <form>
          <div class="row uniform 50%">
               <div id="input-div" class="12u 12u(mobilep)">
                    <input 
                         type="text" 
                         name="inn1" 
                         id="inn1" 
                         ng-model="inn1" 
                         placeholder="Инн 1" 
                         valid-number
                         autofocus/>

                    <input 
                         type="text" 
                         name="inn2" 
                         id="inn2" 
                         ng-model="inn2" 
                         placeholder="Инн 2" 
                         valid-number/>

                    <input 
                         type="text" 
                         name="date1" 
                         id="date1" 
                         ng-model="date" 
                         placeholder="Дата"/>

                    <input 
                         type="text" 
                         name="amount1" 
                         id="amount1" 
                         ng-model="amount" 
                         placeholder="Сумма" 
                         valid-number/>
               </div>

               <div class="12u 12u(mobilep)">
                    <button 
                         type="submit" 
                         class="button fit"
                         ng-click="onAdd()"
                         ng-disabled="!isValidInn(inn1) || !isValidInn(inn2) || !date.length || !amount.length" 
                         >

                         <span>
                              <i class="fa fa-link"></i>
                         </span>
                         <span>Импорт</span>
                    </button>
               </div>
               <p>Данные никогда не передаются на нашу сторону. Мы получаем и храним только <a href="https://ru.wikipedia.org/wiki/Цепочка_блоков_транзакций">ХЭШ</a></p>
          </div>
     </form>

     <!--
     <h1>Documents</h1>
     <h2 ng-if="!documents.length">There are still no documents. Try adding one...</h2>

     <div class="docs">
          <div ng-repeat="d in documents" class="row uniform 100% document">
               <p>
                    <span class="doc-index">{{$index + 1}}.  </span>
                    <a href="#/doc/{{d.docHash}}" class="doc-link">
                         <span>{{d.docName}}</span>
                    </a>
               </p>
          </div>
     </div>
     -->
</section>

<ng-include src="'signer/footer.html'"></ng-include>

