<ng-include src="'main/header.html'"></ng-include>

<section id="cta">
     <h1>
          <a href="#/landing"><span class="first-logo-color">factor</span><strong>B</strong></a>
     </h1>
     <h2>Инструкция</h2>

     <!--
     <h3>Используйте только для тестовых денежных транзакций</h3>
     -->
     <div class="info-text">
          <p>1 - Подготовьте CSV файл, в каждой строке которого должен содержаться хэш.</p>
          <p>2 - ...</p>
          <p>3 - ...</p>
          <p>4 - ...</p>
     </div>

     <p ng-if="errMsg.length" class="err-msg">{{errMsg}}</p>
     <p>
          <a ng-if="txLink.length" href="{{txLink}}" class="tx-info-link" target="_blank">Transaction info</a>
     </p>

     <h2>Загрузка</h2>
     <form>
          <div class="row uniform 75%">
               <!--
               <div id="input-div" class="12u 12u(mobilep)">
                    <input 
                         type="text" 
                         name="fk1" 
                         id="fk1" 
                         ng-model="fkName" 
                         placeholder="Название факторинговой компании" 
                         autofocus/>

                    <input 
                         type="text" 
                         name="inn1" 
                         id="inn1" 
                         ng-model="inn1" 
                         ng-change="onChange()"
                         placeholder="Инн1 (8/10 цифр)" 
                         valid-number/>

                    <input 
                         type="text" 
                         name="inn2" 
                         id="inn2" 
                         ng-model="inn2" 
                         ng-change="onChange()"
                         placeholder="Инн2 (8/10 цифр)" 
                         valid-number/>

                    <input 
                         type="text" 
                         name="date1" 
                         id="date1" 
                         ng-model="date" 
                         ng-change="onChange()"
                         placeholder="Дата"/>

                    <input 
                         type="text" 
                         name="amount1" 
                         id="amount1" 
                         ng-model="amount" 
                         ng-change="onChange()"
                         placeholder="Сумма" 
                         valid-number/>
               </div>

               <p class="hash-value" style="padding-left: 0px; margin-bottom: 1em;">{{hash}}</p>
               -->

               <div id="input-div" class="12u 12u(mobilep)">
                    <!--<p>Мы пришлем отчет на указанный e-mail:</p>-->

                    <input 
                         type="text" 
                         name="fk1" 
                         id="fk1" 
                         ng-model="userEmail" 
                         placeholder="Ваш e-mail" 
                         autofocus/>
               </div>

               <div class="12u 12u(mobilep)">
                    <button 
                         type="submit" 
                         class="button fit main-button"
                         ngf-select 
                         ngf-change="upload($files,$index)" 
                         ngf-multiple="false" 
                         ngf-accept="'text/csv'">
                         <span>
                              <i class="fa fa-file"></i>
                         </span>
                         <span>Загрузить из файла</span>
                    </button>
               </div>

               <!--
               <p>Сервис проверяет дублирование одного денежного требования в портфелях разных факторинговых компаний</p>
               <p>Данные не передаются на нашу сторону. Мы получаем и храним только их <a href="https://ru.wikipedia.org/wiki/Цепочка_блоков_транзакций">ХЭШ</a></p>
               -->
          </div>
     </form>
</section>

<ng-include src="'main/footer.html'"></ng-include>

