<ng-include src="'signer/header.html'"></ng-include>

<section id="cta">
     <h1>Chain.Cloud SIGNER</h1>
     <form ng-if="!isRegistered">
          <div class="row uniform 50%">
               <div class="8u 12u(mobilep)">
                    <input type="email" name="email" id="email" ng-model="email" placeholder="E-mail Address" />
               </div>
               <div class="8u 12u(mobilep)">
                    <input type="password" name="password" id="password" ng-model="password" placeholder="Password" />
               </div>
               <div class="4u 12u(mobilep)">
                    <input type="submit" value="Register" ng-click="onRegister(email,password)" class="fit"/>
               </div>
          </div>
     </form>

     <p ng-if="errMsg.length">{{errMsg}}</p>

     <p ng-if="isRegistered" class="help-text">Thank you for registering!</p>
     <p ng-if="isRegistered" class="help-text">Please check your email for verification.</p>
</section>

<ng-include src="'signer/footer.html'"></ng-include>
